<?xml version="1.0"?>
<ruleset name="Ork CSV">
    <rule ref="vendor/ork/phpcs/Ork"/>
    <rule ref="Squiz.PHP.Heredoc.NotAllowed">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>
    <file>src</file>
    <file>tests</file>
</ruleset>
