<?xml version="1.0"?>
<ruleset name="Ork CSV">
    <rule ref="Ork"/>
    <rule ref="Squiz.PHP.Heredoc.NotAllowed">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>
    <config name="php_version" value="70332"/>
    <file>src</file>
    <file>tests</file>
</ruleset>
