<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" testdox="true" verbose="true">

    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile=".junit.xml" />
    </logging>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory=".coverage" />
            <clover outputFile="coverage.xml" />
        </report>
    </coverage>

</phpunit>
