<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" testdox="true" verbose="true">

    <testsuite name="Ork CSV">
        <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>./tests/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage" />
    </logging>

</phpunit>
