name: tests

on:
  push:
    branches:
      - dev
      - main

jobs:
  phpcs:
    name: PHPCS

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2

    - name: composer validate --strict
      run: composer validate

    - name: composer install
      run: composer install

    - name: PHPCS
      run: composer phpcs

  phpstan:
    name: PHPStan

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2

    - name: composer validate --strict
      run: composer validate

    - name: composer install
      run: composer install

    - name: PHPStan
      run: composer phpstan

  unit:
    name: PHPUnit [${{ matrix.php }}]

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2, 8.3, 8.4, 8.5]

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}

    - name: composer validate --strict
      run: composer validate

    - name: composer install
      run: composer install

    - name: PHPUnit
      run: composer test
